@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

* {
    font-family: 'Instrument Sans';
    margin: 0;
}

body {
    color: white;
    padding: 0;
    background-image: url('../img/melty-bg.png');
    background-size: cover;
}

header {
    font-size: 14pt;
    background: linear-gradient(to bottom, black , #00000000);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
    position: sticky;
    top: 0;
}

header a {
    color: white;
    transition: 200ms;
    text-decoration: none;
}
header a:hover {
    text-shadow: 0 0 15px white;
    font-weight: bold;
    color: white;
}

main {
    margin: 0 auto;
    max-width: 70%;
    font-size: 13pt;
}

#sm {
    border-radius: 25px;
    font-size: 12pt;
    padding: 12px;
    width: 150px;
    font-weight: bold;
    border-color: #ffffff00;
}

.navlinks {
    list-style: none;
}

.navlinks li {
    display: inline-block;
    padding: 0 25px;
    transition: 200ms;
}

.navlinks li a {
    color: white;
}

.navlinks li:hover {
    text-shadow: 0 0 15px white;
    font-weight: bold;
    color: white;
}

.page-title {
    text-shadow: 0 0 30px black;
    font-size: 32pt;
}

.event-url {
    color: rgb(162, 184, 255);
    font-weight: bold;
}

.img-card {
    transition: 250ms;
}

.img-card:hover {
    transform: scale(1.05);
}