@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

* {
    font-family: 'Instrument Sans';
    margin: 0;
}

body {
    color: white;
    padding: 0;
    background-image: url('../img/melty-bg.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header {
    font-size: 14pt;
    background: linear-gradient(to bottom, black, transparent);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
    position: sticky;
    top: 0;
}

header a {
    color: white;
    transition: 200ms;
    text-decoration: none;
}
header a:hover {
    text-shadow: 0 0 15px white;
    font-weight: bold;
    color: white;
}

main {
    margin: 0 auto;
    max-width: 70%;
    font-size: 13pt;
}

tr {
    background-color: #00000080;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #000000cc;
}

th, td {
    padding: .5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}

#sm {
    border-radius: 25px;
    font-size: 12pt;
    padding: 12px;
    width: 150px;
    font-weight: bold;
    border-color: #ffffff00;
    transition: 200ms ease-in-out;
}

#sm:hover {
    transform: scale(1.15);
    cursor: pointer;
    opacity: .854;
}

#live-search {
    width: 30%;
    margin: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    background: #ffffff00;
    border: 1px solid white;
    padding: 5px;
    color: white;
    font-size: 14pt;
    transition: 150ms;
    filter: drop-shadow(0 0 5px black);
}

#live-search:focus {
    background: #00000050;
    outline: none;
}

.navlinks {
    list-style: none;
}

.navlinks li {
    display: inline-block;
    padding: 0 25px;
    transition: 200ms;
}

.navlinks li a {
    color: white;
}

.navlinks li:hover {
    text-shadow: 0 0 15px white;
    font-weight: bold;
    color: white;
}

.page-title {
    text-shadow: 0 0 30px black;
    font-size: 32pt;
}

.event-url {
    color: rgb(162, 184, 255);
    font-weight: bold;
}

.img-card {
    transition: 250ms;
    border-radius: 10px;
}

.img-card:hover {
    transform: scale(1.05);
    cursor: pointer;
    filter: drop-shadow(0 0 10px black);
}

.text-row {
    transition: 150ms;
}

.text-row:hover {
    text-shadow: 0 0 15px white;
    cursor: pointer;
}

.matchwin-1 {
    text-shadow: 0 0 15px rgb(62, 62, 255), 0 0 15px rgb(62, 62, 255);
}

.matchwin-2 {
    text-shadow: 0 0 15px rgb(255, 62, 62), 0 0 15px rgb(255, 62, 62);
}

.text-dark {
    opacity: 35%;
}